@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    scale: 0;
  }

  75% {
    scale: 1.15;
  }

  100% {
    scale: 1;
  }
}
