// COLORS
$color-primary: #8a2be2;
$color-primary-tone: #8556b1;
$color-primary-tone-1: #81788a;
$color-primary-tint: #e8d5f9;
$color-primary-tint-1: #f3eafc;

$color-secondary: #83e22b;
$color-secondary-tone: #81946f;
$color-secondary-tone-2: #808a78;

$color-accent: #67819d;
$color-accent-tint: #eaf3fc;
$color-accent-shade: #164271;
$color-accent-shade-1: #11345a;

$color-primary-button: #9333ea;

$color-secondary: #345235;

$color-grey-dark: #444;
$color-grey-dark-1: #555;
$color-grey-dark-2: #676767;
$color-grey-dark-3: #767676;
$color-grey-dark-4: #888;
$color-grey-dark-5: #999;
$color-grey-light: #e9ecef;
$color-grey-light-1: #aaa;
$color-grey-light-2: #bbb;
$color-grey-light-3: #ccc;

$color-white: #fff;
$color-black: #000;

// LINE HEIGHT
$line-default: 1;

// BORDER RADIUS
$radius-default: 0.7rem;
$radius-small: 0.5rem;
