@use "../abstracts" as *;

.account {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;

  &__details {
    display: flex;
    gap: 3rem;

    & > * {
      border-radius: $radius-default;
      flex: 1;
    }
  }

  &__balance-box {
    padding: 2rem;
    background: $color-white;
    display: flex;
    flex-direction: column;
  }

  &__balance {
    font-size: 2.2rem;
    font-weight: 600;
    margin-block-end: 2rem;
  }

  &__balance-label {
    font-size: 1.2rem;
    color: $color-grey-dark-3;
    font-weight: 500;
  }

  &__btn-group {
    margin-block-start: auto;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    padding: 1rem 2rem;
    border: none;
    border-radius: $radius-small;
    background: $color-accent-shade;
    color: $color-accent-tint;
    cursor: pointer;
  }

  &__info {
    padding: 2rem;
    background: $color-white;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    &:not(:last-of-type) {
      margin-block-end: 2.5rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__label {
    color: $color-grey-dark-3;
    font-weight: 500;
    font-size: 1.2rem;
  }

  // ACCOUNT TABLE
  &__table-container {
    background: $color-white;
    border-radius: $radius-default;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  &__table-header {
    padding: 1.5rem;
  }

  &__table-box {
    flex: 1;
    overflow-y: auto;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);

    .table__heading {
      position: sticky;
      top: 0;
    }
  }
}
